<!DOCTYPE html>
<html ng-app=myApp>
<head>
<script src="F:\code\github\Blue-Lotus-Angularjs\lib\angular.js"></script>
</head>
<body>
<div ng-controller="MyController">
  <h1> {{author.name.firstName}} . {{author.name.lastName}}</h1>
  <p> {{author.title + ', ' + author.company}}</p>
</div>
<div ng-controller="MyFirstController">
	<h2>{{ message }}</h2>
	<button ng-click="add(1)">Add</button>
	<a href="javascript:void(0)" ng-click="substract(1)">Sub</a>
	<h4>Current count:{{ counter }}</h4>

	<p> {{ author }}</p>
	<div ng-controller="ChildController"><a href="javascript:void" ng-click="sayHello()">sayHello</a></div>
</div>
<div ng-controller="MySecondController">
	<input ng-model='expr' type='text' placeholder='Enter an expersion' /><h2>{{ parseValue }}</h2>
</div>
<div ng-controller="EmailController">
	<input ng-model='to' type='email' placeholder='Recipient' />
	<textarea ng-model='emailBody'></textarea>
	<pre>{{ previewText }}</pre>
</div>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('MyController', function($scope){
	$scope.author = {
		'name' : {'firstName':'sheldon', 'lastName':'shi'},
		'title' : 'Mr',
		'company' : 'zjslj'
	};
});
app.controller('MyFirstController', function($scope){
	$scope.message = 'Hello World!',
	$scope.counter = 0;
	$scope.author = {
		'name' : {'firstName':'sheldon', 'lastName':'shi'},
		'title' : 'Mr',
		'company' : 'ZJSLJ'
	};
	$scope.add = function(num){
		$scope.counter += num;
	}
	$scope.substract = function(num){
		$scope.counter -= num;
	}
});
app.controller('ChildController',  function($scope){
	$scope.sayHello = function(){
		$scope.author.nationality = 'China';
	};
});

app.controller('MySecondController', function($scope, $parse){
	$scope.$watch('expr', function(newVal, oldVal, scope){
		if(newVal !== oldVal){
			var parseFun = $parse(newVal);
			$scope.parseValue = parseFun(scope);
		}
	});
});

app.controller('EmailController', function($scope, $interpolate){
	$scope.$watch('emailBody', function(body){
		if(body){
			var template = $interpolate(body);
			$scope.previewText = template({to : $scope.to});
		}
	});
});
</script>
</body>
</html>